    <web-app>  
     <servlet>  
        <servlet-name>Login</servlet-name>  
        <servlet-class>com.bridgelabz.LoginCheck</servlet-class>  
      </servlet>  
      <servlet-mapping>  
        <servlet-name>Login</servlet-name>  
        <url-pattern>/servlet1</url-pattern>  
      </servlet-mapping>  
     
      <servlet>  
        <servlet-name>WelcomeServlet</servlet-name>  
        <servlet-class>com.bridgelabz.WelcomeCheck</servlet-class>  
      </servlet>       
      <servlet-mapping>  
        <servlet-name>WelcomeServlet</servlet-name>  
        <url-pattern>/servlet2</url-pattern>  
      </servlet-mapping>  
      
      <servlet>  
        <servlet-name>logout</servlet-name>  
        <servlet-class>com.bridgelabz.Logout</servlet-class>  
      </servlet>  
       <servlet-mapping>  
        <servlet-name>logout</servlet-name>  
        <url-pattern>/logout</url-pattern>  
      </servlet-mapping> 
      
      <welcome-file-list>  
       <welcome-file>index.jsp</welcome-file>  
      </welcome-file-list>  
    </web-app>  